h1 {
    color: red;
    font-size: 3.5em;
    text-align: center;
    background-color: aquamarine;
    font-family: Georgia, sans-serif;
}

h2 {
    color: blue;
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;

}

p {
    color: green;
    font-size: 1.2em;  /* 1 em = 16 px */
    text-align: center;
    line-height: 160%;

}

li {
    color: orange;
    font-style: italic;
    font-weight: bolder;
    text-align: center;

}